extends _layout.pug

block meta
	title ハゲ - Xeltica

block content
	.text-center.pt-1.pb-3.bg-inverse.text-white
		.container
			h1.my-3 ハゲチェッカー
			p 名前を入れるだけで，あなたがハゲているかどうか一発で当ててみせます．
			p: strong ここで入れた名前は一切サーバーによって収集されません．ご安心ください．
	.container
		#main.text-center.pt-2.pb-2
			div.mb-1
				| 名前: 
				input(type="text", v-model="name", id="name", name="name")
				button.btn.btn-primary(v-on:click="click") チェック！
			div.mb-1(v-if="result != ''")
				p.alert.alert-success {{ result }}
				a.btn.btn-primary(v-bind:href="twitter_url") 結果をツイートする

block pre_footer
	p(style="color: white") これはジョークアプリです．本当に薄毛を気にしている方は，ここではなく医療機関をお訪ねください．
	p(style="color: white") 結果によって生じたトラブルについて，ゼルチカは一切責任を負いかねます．
	hr
block script
	+js("https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js")
	script(type="text/javascript").
		const notHage = name => `${name} はハゲていません`;
		const hage = name => `${name} はハゲています`;

		const app = new Vue({
			el: "#main",
			data: {
				name: "ねこ",
				result: "",
				hage: false,
				twitter_url: ""
			},
			methods: {
				click: async function (e) {
					let res = await (await fetch(`https://api.citringo.net/hage/${encodeURI(this.name)}`)).json();
					this.result = `${this.name} はハゲて${res.is_hage ? "います" : "いません"}`;
					this.hage = res.is_hage;
					this.twitter_url=`https://twitter.com/intent/tweet?text=${encodeURIComponent(`${this.result}\n #ハゲチェッカー https://citringo.net/hage.html`)}`;
				}
			}
		});
	
