extends _layout

mixin skill(title, icon, link)
	if link
		a(href=link)
			+skillview(title, icon)
	else
		+skillview(title, icon)

mixin skillview(title, icon)
	.skill
		.img-wrapper
			if icon
				img(src=icon, alt=title)
			else
				p(style="color: #242424") NO IMAGE

mixin product(title, link, tag, imgsrc)
	.product
		.background(style=`background: url("${imgsrc}")`)
		a(href=link)
			.description
				h1= title
				small.tag
					i.fas.fa-tag
					| &emsp;
					!=tag
				block

mixin record(title, art)
	.record
		if art
			.art
				img(src=art, alt=title)
		.desc
			h1= title
			block

block title
	title Xeltica
	+og(
		"Xeltica", 
		"Webとネイティブのアプリと、ゲームを作る人",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		"assets/Citrine.jpg",
		true
		)

block script
	+js("https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min")
	script.
		let attack = 0;
		let timeout;
		window.onload = function () {
			const icon = document.getElementById("avatar");
			icon.addEventListener("click", () => {
				attack++;
				if (timeout) clearTimeout(timeout);
				anime({
					targets: icon,
					rotate: attack * 30,
					duration: 200,
					easing: "easeInOutBack",
					autoplay: true,
					complete() {
						if (attack >= 12)
							location.pathname = "/product/hage.html";
					}
				});
				timeout = setTimeout(() => {
					attack = 0;
					anime({
						targets: icon,
						rotate: 0,
						duration: 300,
						easing: "easeInOutBack",
						autoplay: true,
					});
				}, 800);
				
			});
		}
	+js("/js/index")


block body
	header
		button.planet(onclick="toggleTheme()")
			span.fas.fa-moon.fa-fw.theme-icon
		img#avatar.shadowed(src="assets/citrine.jpg")
		h1 Xeltica
		p アプリ, ウェブ, ゲーム, ライブラリ開発, 作曲, 映像制作などをする普通の大学生。

		.buttons#buttons
			.button#twitter
				a(href="https://twitter.com/xeltica"): span.fab.fa-twitter.fa-fw
			.button#soundcloud
				a(href="https://soundcloud.com/Xeltica"): span.fab.fa-soundcloud.fa-fw
			.button#github
				a(href="https://github.com/xeltica"): span.fab.fa-github.fa-fw
			.button#youtube
				a(href="https://www.youtube.com/channel/UCH3I30Y6NrXTNP1kEceRRZQ"): span.fab.fa-youtube.fa-fw
			.button#wordpress
				a(href="http://blog.xeltica.work"): span.far.fa-newspaper.fa-fw
			.button#bandcamp
				a(href="https://xeltica.bandcamp.com/"): span.fab.fa-bandcamp.fa-fw

	main
		article#skills
			h2 SKILLS
			.skills
				+skill("C#", "./assets/skills/csharp.svg", "https://docs.microsoft.com/ja-jp/dotnet/csharp/")
				+skill("Unity", "./assets/skills/unity.svg", "https://unity.com/ja")
				+skill("Xamarin", "./assets/skills/xamarin.svg", "https://docs.microsoft.com/ja-jp/xamarin/")
				+skill("node.js", "./assets/skills/nodejs.png", "https://nodejs.org/ja/")
				+skill("TypeScript", "./assets/skills/ts.svg", "https://www.typescriptlang.org/")
				+skill("JavaScript", "./assets/skills/js.svg", "https://developer.mozilla.org/ja/docs/Web/JavaScript")
				+skill("Vue.js", "./assets/skills/vue.svg", "https://vuejs.org/")
				+skill("HTML5", "./assets/skills/html.svg", "https://developer.mozilla.org/ja/docs/Web/Guide/HTML/HTML5")
				+skill("CSS3", "./assets/skills/css.svg", "https://developer.mozilla.org/ja/docs/Archive/CSS3")
				+skill("pixi.js", "./assets/skills/pixi.png", "https://www.pixijs.com/")
				+skill("pug", "./assets/skills/pug.svg", "https://pugjs.org/api/getting-started.html")
				+skill("sass", "./assets/skills/sass.png", "https://sass-lang.com/")
		article#products 
			h2 PRODUCTS
			.cards
				+product("Groundpolis", "https://social.xeltica.work", "ウェブアプリ", "assets/products/gp.png")
					p Groundpolis - グランポリス - は、分散ソーシャルメディア Misskey をベースに開発中の、 Twitter に似たマイクロブログサービスです。
					p ユーザーをフォローしたり投稿したりはもちろん、ゲームやアンケート作成、ウェブページの作成などもこなします。
					p クリックして始める
				+product("Citrine", "/product/citrine.html", "Bot", "assets/products/citrine.png")
					p Citrine は、うちの娘をイメージした bot です。会話はもちろん、占い、天気予報、翻訳、検索などたくさんのことができます。
					p クリックして詳細を見る
				+product("おさかなれすきゅ〜", "https://github.com/WyteEngine/OsakanaRescue/releases", "ゲーム", "assets/products/osakana4.png")
					p 取り返すのは魚か、友情か。
					p キャッツガイと名乗る謎の猫が、あなたの金色の魚を奪って逃げていった。
					p あなたは果たして魚を奪い返せるか。そして、彼の正体は...。
					p クリックしてダウンロード
				+product("DotFeather", "/product/dotfeather.html", "ライブラリ", "assets/products/df.png")
					p DotFeather は 2D に特化した、オープンソースでクロスプラットフォームな C# 製ゲームエンジンです。
					p クリックして詳細を見る
				+product("Take Up Jewel", "https://www.dropbox.com/s/m92ms22qlanxp85/take-up-jewel-1.1.0-release.zip?raw=0", "ゲーム", "assets/products/tuj.png")
					p トランジスタ王国のレジスタ街にある孤児院「ハフマンの家」で大切にされてきた宝物を、悪の組織「スパイウェ団」に盗まれてしまった。
					p 立ち向かうことを決意した主人公は、彼らから宝物を取り返す長い旅に出る...。
					p クリックしてダウンロード
				+product("Music Sheet", "https://www.dropbox.com/s/y8rkbcygvyymuf2/MusicSheetv110.zip?raw=0", "PCアプリ", "assets/products/ms.png")
					p Music Sheet は、Windows 向けの MIDI プレイヤー。
					p PCエンジンなどの往年のレトロゲームに使われた「波形メモリ音源」をここに再現。あなたのMIDIファイルがゲーム音楽になります。
					p .NET Framework 4.5以降 と DirectX 9.0 が必要です。
					p クリックしてダウンロード
		article#discography
			h2 DISCOGRAPHY
			.cards
				+record("書見台", "./assets/discography/bookstand.png")
					p 迷い込んだのだろうか、連れ込まれたのだろうか。
					p: a(href="https://linkco.re/XHBN0CtU") 
						span.fab.fa-apple.fa-fw
						span.fab.fa-google-play.fa-fw
						span.fab.fa-spotify.fa-fw
						| お使いのサービスで
					p: a(href="https://xeltica.bandcamp.com/-") 
						span.fab.fa-bandcamp.fa-fw
						| Bandcamp で
				+record("電子の海", "./assets/discography/denshi.jpg")
					p あなたが今、見ているものの、裏の世界の物語。あなたを今、見ているものの、裏の世界の物語。
					p: a(href="https://soundcloud.com/xeltica/denshi_no_umi") 
						span.fab.fa-soundcloud.fa-fw
						| SoundCloud で
				+record("Take Up Jewel OST", "./assets/discography/tuj.jpg")
					p ゲーム「Take Up Jewel」オリジナルサウンドトラック。100円。
					p: a(href="https://xeltica.bandcamp.com/album/take-up-jewel-ost") 
						span.fab.fa-bandcamp.fa-fw
						| Bandcamp で
				+record("その他...")
					p SoundCloud では、その他の曲、制作中の楽曲などを公開していたりします。
						a(href="https://soundcloud.com/xeltica/") 行く
					p YouTube にミュージックビデオもあります。
						a(href="https://www.youtube.com/channel/UCH3I30Y6NrXTNP1kEceRRZQ") 行く
		article#misc.pc
			h2 MISC
			.cards
				a(href="/gallery.html").card
					i.fas.fa-images
					h1 GALLERY
					p 頂き物のイラストや、私が描いたイラストを掲載しています。
				a(href="/donation.html").card
					i.fas.fa-hand-holding-usd
					h1 DONATION
					p 寄付はこちらから受け付けております。
				a(href="/char.html").card
					i.fas.fa-child
					h1 CHARACTER
					p オリキャラを紹介します。
				a(href="/char/guideline.html").card
					i.fas.fa-lock
					h1 GUIDELINE
					p 二次創作のガイドラインです。
				.card
					i.fas.fa-address-card
					h1 連絡先
					p お仕事の話などはこちらから。
					ul
						li: a(href="https://twitter.com/xeltica") Twitter
						li: a(href="https://social.xeltica.work/@Xeltica") Groundpolis
						li: a(href="mailto:xeltica@gmail.com") メール
