extends ../_layout


block title
	title ハゲチェッカー - Xeltica
	+og(
		"ハゲチェッカー - Xeltica", 
		"あなたはハゲていますか？",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		"assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")

block body
	header#header.root
		h1 
			a(href="/") Xeltica
			|  / 
			a(href="/product.html") Product
			|  / Hage
		
	main.root
		h1 ハゲチェッカー
		p 名前を入れるだけで，あなたがハゲているかどうか一発で当ててみせます．
		p: strong ここで入れた名前は一切サーバーによって収集されません．ご安心ください．
		#main
			div
				input(type="text", v-model="name", id="name", name="name" placeholder="名前")
				button(v-on:click="click" :disabled="!name") Check!
			div(v-if="result != ''")
				p.alert(v-bind:class="resultClass") {{ result }}
				button.twitter(@click="publishToTwitter()") 結果をツイートする
				div.form-misskey
					input(type="text", name="misskey" v-model="misskey_host" placeholder="Misskeyインスタンスのホスト名").inline-block
					button.misskey(@click="publishToMisskey()") Misskeyに投稿する

			h1 広告
			script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
			ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-4398381659121550', data-ad-slot='7519451816', data-ad-format='auto', data-full-width-responsive='true')
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});




block footer
	p これはジョークアプリです．本当に薄毛を気にしている方は，ここではなく医療機関をお訪ねください．
	p 結果によって生じたトラブルについて，ゼルチカは一切責任を負いかねます．

block script
	+js("https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min")
	script(type="text/javascript").
		const notHage = name => `${name} はハゲていません`;
		const hage = name => `${name} はハゲています`;

		const app = new Vue({
			el: "#main",
			computed: {
				resultClass() {
					return {
						'success': !this.hage,
						'danger': this.hage
					};
				},
				misskey_url() {
					return `${this.misskey_host[this.misskey_host.length - 1] === "/" ? this.misskey_host.substr(0, a.length - 1) : this.misskey_host}/share?text=${encodeURIComponent(`${this.result}\n #ハゲチェッカー https://citringo.net/product/hage.html`)}`;
				}
			},
			data: {
				name: "",
				result: "",
				hage: false,
				twitter_url: "",
				misskey_host: "https://misskey.xyz"
			},
			methods: {
				click: async function (e) {
					let res = await (await fetch(`https://api.citringo.net/hage/${encodeURI(this.name)}`)).json();
					this.result = `${this.name} はハゲて${res.is_hage ? "います" : "いません"}`;
					this.hage = res.is_hage;
					this.twitter_url=`https://twitter.com/intent/tweet?text=${encodeURIComponent(`${this.result}\n #ハゲチェッカー https://citringo.net/product/hage.html`)}`;
				},
				publishToTwitter() {
					this.popup(this.twitter_url);
				},
				publishToMisskey() {
					this.popup(this.misskey_url);
				},
				popup(url){
					window.open(url, "_blank", {
						width: 512,
						height: 768,
						menubar: false,
						toolbar: false,
						status: false
					});
				}
			}
		});